.ant-picker-dropdown {
  z-index: 2000 !important;
  position: fixed !important;
  pointer-events: auto !important;
}

/* Add styles for the modal backdrop */
.modal-backdrop {
  z-index: 1000 !important;
}

/* Add styles for the modal content */
.modal-content {
  z-index: 1001 !important;
}

.ant-picker-cell-inner {
  color: #000 !important;
}
