/* App constants */
:root {
  /* Font styling */
  --ADE-text-primary-color: #212529;
  --ADE-font-family: 'Roboto';
  --ADE-font-style: 'normal';
  --ADE-font-weight: 500;
  --ADE-light-grey: #F8F9FA;
  --ADE-dark-grey: #DEE2E6;
  --ADE-hover: #E7F1FF;

  /* Job status badge colors */
  --job-status-completed: rgb(39, 163, 39);
  --job-status-failed: rgb(204, 19, 19);
  --job-status-started: rgb(8, 8, 223);
  --job-status-revoked: rgb(49, 49, 49);
  --job-status-accepted: rgb(13, 150, 150);
  --job-status-deduped: rgb(102, 25, 112);
  --job-status-offline: rgb(0, 0, 0);
}

/* Split pane */
.split-pane {
    top: 50px !important;
}

.tab-pane {
  max-height: 80vh !important;
  overflow-y: auto;
}

.Pane {
  overflow: auto;
}

.Pane1 {
  max-height: 90%;
}

.Pane2 {
  margin-bottom: 2rem;
}



/* Generic HTML elements */
h5 {
  font-family: var(--ADE-font-family);
  font-style: var(--ADE-font-style);
  font-weight: var(--ADE-font-weight);
  font-size: 20px;
  line-height: 150%;
}

h6 {
  font-family: var(--ADE-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.refresh-info {
  display: grid;
  justify-items: end;
}

.refresh-info > svg {
  margin-right: 0.5rem;
}

.refresh-timestamp {
  font-size: small;
  font-style: italic;
  padding: 0 0 0 0.5rem;
}

tbody tr:nth-child(even) {
  /*background-color: #F8F9FA !important;*/
  --bs-table-bg: #F8F9FA;
}

tbody tr:nth-child(odd) {
  /*background-color:white !;*/
  --bs-table-bg: white;
}

tr {
  vertical-align: middle;
}

th {
  vertical-align: baseline;
}

.clickable:hover {
  cursor: pointer;
}

table td:last-child {
  width: 100%;
}

td, th {
  padding-right: 2rem !important;
  white-space: nowrap;
}



.selected-row {
  /*background-color: #E7F1FF !important;*/
  --bs-table-bg: #E7F1FF !important;
}

.position-relative {
  position: relative;
}

.subtext {
  font-style: italic;
  color: grey;
}

/* 
  See issue:
  https://app.zenhub.com/workspaces/maap-platform-5ee7f0d1f440de0024cd359b/issues/maap-project/zenhub/514
*/
.Toastify__toast {
  overflow: auto !important;
}

.content-padding {
  padding: 1rem 0
}

.hide-content {
  overflow: hidden;
  max-width: 80vw;
  text-overflow: ellipsis;
}

.show-content {
  text-overflow: unset;
  white-space: break-spaces;
}

.loader {
  text-align: center;
}
.Toastify__toast-body {
  overflow: auto;
}

.date-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-sort {
  display: flex;
  justify-content: center;
}

.header-sort > svg {
  margin-left: 0.5rem;
}

.table-toolbar {
  display: flex;
  margin: 0 0 0.5rem 0.5rem;
}

.toolbar-btn button {
  border-width: thin;
  border-style: solid;
  padding: 0 0.5rem;
}

.toolbar-btn button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.toolbar-btn button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.toolbar-btn button:active {
  background-color: darkgray;
  cursor: pointer;
}

.toolbar-btn button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.btn-check:focus+.btn, .btn:focus {
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
  outline: none !important;
  box-shadow: none !important;
}

.table-container {
  overflow: scroll;
}

.text-filter {
  display: flex;
  justify-content: center;
}

.Resizer {
  background: #40de06;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
 
.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
 
.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}
 
.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
 
.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}
 
.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.sash-resizer-up {
  position: absolute;
  top: -16px;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
}

.sash-resizer-down {
  position: absolute;
  top: 3px;
  background-color: whitesmoke;
  border-radius: 0 0 5px 5px;
}

div[role=Resizer] {
  background-color: lightgray;
}

.sash-resizer {
  display: none;
}

div[role=Resizer]:hover > .sash-resizer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-split__sash--horizontal {
  height: 5px !important;
}

.jobsview-container {
  height: calc(100vh - 100px);
  overflow: 'scroll';
}