.job-details-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.jobs-overview-container {
    margin: 1rem;
}

.nav-menu {
    margin-bottom: 1rem;
}

.job-details-toolbar {
    display: flex;
}

.job-details-toolbar > button {
    margin-left: 20px;
}