span.job-failed {
    background-color: var(--job-status-failed) !important;
}

span.job-started {
    background-color: var(--job-status-started) !important;
}

span.job-completed {
    background-color: var(--job-status-completed) !important;
}

span.job-accepted {
    background-color: var(--job-status-accepted) !important;
}

span.job-revoked {
    background-color:  var(--job-status-revoked) !important;
}