.submit-wrapper {
    display: flex;
    margin: 2rem;
    align-items: flex-start;
}

.algorithm-details {
    background-color: var(--ADE-light-grey);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.form-control {
    min-width: 40vw;
}

.form-control select {
    padding: 0.375rem;
}

.submit-wrapper > form {
    padding-right: 3rem;
    min-width: fit-content;
}

.algorithm-details > div, .algorithm-details > a {
    margin-bottom: 1rem;
}

hr {
    margin-top: 0rem;
}

.cmr {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    max-width: 60vh;
}

.btn-toolbar > .btn {
    margin-right: 1rem;
}

.algorithm-input {
    margin: 1rem;
}

input:placeholder-shown {
    font-style: italic;
 }

 .cmr-table {
    margin: 1rem 0;
    border: solid 1px #E5E5E5;
}

.cmr-table > tr:nth-child(odd) {
    background-color: white;
}

.cmr-table > tr:nth-child(even) {
    background-color: #E5E5E5;
}

.cmr-table > tr:nth-child(even):hover {
    background-color: #E5E5E5;
}

.wait-cursor {
    cursor: wait !important;
}