a {
	text-decoration: none !important;
}

p, span {
	color: rgba(0,0,0,.9);
}
.listing-entry:hover {
	opacity: 0.75;
}

.thumbnail-select:hover {
	/* TODO: This color does not work, would be cool if it did.*/
	color: #28a745;
	opacity: 0.75;
	cursor: pointer;
}

.color-elem-1 {
	color: #004577;
}
.color-elem-2 {
	color: #b5a372;
}

.text-dark {
	color: #eee !important;
}
.site-title {
	display: inline-block;
	margin-top: 3%;
}

#toggle-day-night-icon:hover {
	cursor: pointer;
}

.btn {
	color: #004577 !important;
	background-color: #fff !important;
}
.btn-outline-success {
	border-color: #004577 !important;
	color: #004577 !important;
}
.btn-outline-success:hover {
	background-color: #004577 !important;
	color: #fff !important;
	border-color: #fff !important;
}
.navbar {
	background-color: #004577 !important;
}
.navbar-brand, .nav-link {
	color: #eee !important;
}

/*
 * TODO: See Feature #379. Make this DRY.
 * */
.hidden-form-fields {
	display: none;
}
/*
 * TODO: See Feature #379. Make this DRY.
 * */
.language-flag {
	margin: 4px;
}
.language-flag:hover {
	cursor: pointer;
}
