.citizen-server-block {
    position: relative;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    color: #fff;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin: auto;
    max-width: 1300px;
    margin-bottom: 60px;
    margin-top: 60px;
    height: 450px;
}

.citizen-server-block .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.citizen-server-block .small-text{
    border-radius: 5px;
}

.citizen-server-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Overlay to darken the image */
    z-index: 2;
}

.citizen-server-block .content-wrapper {
    position: absolute;
    z-index: 3;
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* Center style */
.citizen-server-block.style-center .content-wrapper {
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    max-width: 60%;
}

/* Bottom style */
.citizen-server-block.style-bottom .content-wrapper {
    justify-content: flex-end;
}

/* Overlay style */
.citizen-server-block.style-overlay .content-wrapper {
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    justify-content: flex-end;
    width: 100%;
}

.citizen-server-block .small-text-wrapper {
    margin-bottom: 1rem;
}

.citizen-server-block .small-text {
    display: inline-block;
    color: #89EFF1;
    font-size: 25px;
    font-weight: 500;
}

.citizen-server-block .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.citizen-server-block .description {
    margin-bottom: 1.5rem;
}

.citizen-server-block .description p {
    line-height: 1.6;
}

.citizen-server-block .author {
    font-style: italic;
    border-top: 1px solid #fff;
    padding-top: 10px;
}

.citizen-server-block.style-center .author {
    border: none;
}
